In [17]:
import numpy as np
from datascience import *
import pandas as pd
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
from sklearn import *
from sklearn.model_selection import train_test_split
from datetime import datetime, timezone
import missingno as msno
import seaborn as sns
import math

In [18]:
importedData = pd.read_csv("Participant_1058_Cleaned1.csv")
importedDataLog = pd.read_csv("1058 - Log.csv")
importedDataLog

C:\Users\Viraj\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (33,60,61) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

                                          ID          1058
0                     A1- ECG baseline start  1.583860e+12
1                       B1- ECG baseline end  1.583860e+12
2                         C1- Go/no-go start  1.583860e+12
3                           D1- Go/no-go end  1.583861e+12
4                     E1-  VR baseline start  1.583861e+12
5                        F1- VR baseline end  1.583861e+12
6   G1-  Emotion-induction preparation start  1.583861e+12
7      H1- Emotion-induction preparation end  1.583862e+12
8        I1-  Emotion-induction speech start  1.583862e+12
9          J1-  Emotion-induction speech end  1.583862e+12
10                  K1- Food selection start  1.583862e+12
11                    L1- food selection end  1.583862e+12

In [30]:
def fNIRSdataProcessingPipeline(data, unixTS, hertz):
    data["1"] =(data["1"]/hertz)+1583859960
    return data

In [31]:
def logCustomPipeline(csvFile, tsCols):
    columns = csvFile.columns
    startingTime = csvFile.iloc[:, 1]
    for i in range(1, tsCols-1):
            csvFile[columns[i]] -= startingTime
    return csvFile

In [32]:
r = fNIRSdataProcessingPipeline(importedData, 1583859960, 50)
L = logCustomPipeline(importedDataLog, 12)

IndexError: index 2 is out of bounds for axis 0 with size 2

In [33]:
r

,1,2,3,4,5,6,7,8,9,10,...,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61
0,1.583860e+09,147.446167,84.391899,231.838074,63.054268,152.123810,77.794563,229.918396,74.329300,147.775955,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.583860e+09,147.446167,84.391899,231.838074,63.054268,152.123810,77.794563,229.918396,74.329300,147.775955,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.583860e+09,147.446167,84.391899,231.838074,63.054268,152.123810,77.794563,229.918396,74.329300,147.775955,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.583860e+09,147.446167,84.391899,231.838074,63.054268,152.123810,77.794563,229.918396,74.329300,147.775955,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.583860e+09,147.446167,84.391899,231.838074,63.054268,152.123810,77.794563,229.918396,74.329300,147.775955,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91965,1.583860e+09,27.849163,20.063209,47.912373,7.785953,24.717382,5.553139,30.270533,19.164293,24.544863,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91966,1.583860e+09,27.930841,20.069925,48.000767,7.860917,24.770229,5.570041,30.340280,19.200237,24.641913,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91967,1.583860e+09,28.004835,20.072241,48.077076,7.932594,24.837492,5.581850,30.419352,19.255692,24.724546,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91968,1.583860e+09,28.043264,20.094236,48.137501,7.949027,24.913395,5.611948,30.525353,19.301496,24.791809,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91969,1.583860e+09,28.110525,20.106045,48.216568,8.004481,24.990253,5.655940,30.646204,19.334364,24.814867,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
importedDataLog

In [ ]:
r.to_csv('1058-food-buffet.csv', index=False)